<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1>'<%= result[0].name %>' 상세 정보 보기</h1>
        연락처 : <%= result[0].phone %>
        주소 : <%= result[0].address %>
        주차장 보유 여부 : <%= result[0].parking_lot %>
        이용 횟수 : <%= result[0].used_time %>
        평점 : <%= result[0].rating %>

        등급별 잔여석
        <table>
            <th>등급</th>
            <th>가격</th>
            <th>전체석</th>
            <th>여석</th>
            <th>예약하기</th>
            <% for(let i = 0; i < result.length; i++){ %>
                <tr>
                    <td><%= result[i].grade %></td>
                    <td><%= result[i].price %></td>
                    <td><%= result[i].total_sites %></td>
                    <td><%= result[i].available_sites %></td>
                    <td><a href='./'+<%= result[i].cp_id >> GO </a>
                </tr>
            <% }%>
        </table>

        시설물
        <table>
            <th>시설명</th>
            <th>분류</th>
            <% for(let i = 0; i < result.length; i++){ %>
                <tr>
                    <td><%= result[i].name %></td>
                    <td><%= result[i].type %></td>
                </tr>
            <% }%>
        </table>
    </body>
    <footer>
        <br><br><a href="../">이전</a>
        <a href="/">처음으로</a>
    </footer>
</html>