<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1>'<%= result[0].name %>' 상세 정보 보기</h1>
        <a href="/">처음으로</a><br><br>
        연락처 : <%= result[0].phone %><br>
        주소 : <%= result[0].address %><br>
        주차장 보유 여부 : <%= result[0].parking_lot %><br>
        이용 횟수 : <%= result[0].used_time %><br>
        평점 : <%= result[0].rating %><br><br>

        등급별 잔여석
        <table border = '3'>
            <th>등급</th>
            <th>가격</th>
            <th>전체석</th>
            <th>여석</th>
            <th>예약하기</th>
            <% for(let i = 0; i < gradeResult.length; i++){ %>
                <tr>
                    <td><%= gradeResult[i].grade %></td>
                    <td><%= gradeResult[i].price %></td>
                    <td><%= gradeResult[i].total_sites %></td>
                    <td><%= gradeResult[i].available_sites %></td>
                    <td>
                        <form action="/reservation/new" method="post">
                            <input type="hidden" value=<%= cp_id %> name="cp_id">
                            <input type="hidden" value=<%= user_id %> name="cp_id">
                            <input type="hidden" value=<%= date %> name="cp_id">
                            <input type="submit" value="GO">
                        </form>
                    </td>
                </tr>
            <% }%>
        </table><br><br>

        시설물
        <table border = '3'>
            <th>시설명</th>
            <th>분류</th>
            <% for(let i = 0; i < facilityResult.length; i++){ %>
                <tr>
                    <td><%= facilityResult[i].name %></td>
                    <td><%= facilityResult[i].type %></td>
                </tr>
            <% }%>
        </table>
    </body>
</html>